version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=task_db
    ports:
      - "5434:5432"

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6381:6379"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: always
    ports:
      - "5673:5672"
      - "15673:15672"

  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8005:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/task_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
    depends_on:
      - db
      - redis
      - rabbitmq

  worker:
    build: .
    command: python app/worker.py
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/task_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
    depends_on:
      - db
      - redis
      - rabbitmq
